* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 3px 50px 3px 180px;
    position: fixed;
    width: 100%;
    z-index: 100;
    border: 1px solid #e0e0e0;
}

.logo {
    height: 95px;
    width: auto;
    padding: 10px 50px 10px 20px;
    cursor: pointer;
}

.home-head {
    padding: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.Home-section {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

div.navbar {
    padding-left: 250px;
    padding-right: 50px;
    font: 14px 'Montserrat', sans-serif;
    font-weight: 600;
}

a {
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:hover {
    transition: 0.5s;
    color: #4EF1AE;
}

.btn {
    padding: 12px 8px 12px 8px;
    background-color: #4EF1AE;
    color: #000000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.btn:hover {
    background-color: #ffffff;
    color: #4EF1AE;
    transition: 0.5s;
}

.slider-video {
    position: absolute;
    width: 100%;
    height: 775px;
    object-fit: cover;
}

.client-section {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slider {
    width: 100%;
    overflow: hidden;
    background: #fffdfd;
    padding: 20px 0px 50px 0px;
}

h2 {
    background: linear-gradient(to bottom, #4EF1AE 0%, #395270 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 0px 10px 0px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.client-logos {
    display: flex;
    justify-content: center;
    position: relative;
    animation: scroll 50s linear infinite;
    gap: 80px;
    padding: 50px 0px 0px 0px;
    width: calc(200px * 10);
    height: 90px;
}

.client-logos img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.about-section {
    padding-top: 50px;
    background-color: #111f30;
}

.video-container {
    position: relative;
    width: 100%;
    height: 680px;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px 0px 50px 420px;
    width: 100%;
    height: 105%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        /* linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,#111f30  92%),*/
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #111f30 95%),
        linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #111f30 60%);

    /* #111f30 , rgba(255, 255, 255, 0) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 2;
    padding: 0px 0px 0px 200px;

}

.about {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;

}

p {
    font-size: 17px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    max-width: 500px;
    margin-top: 20px;
}

h4 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}

.details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    flex-direction: column;
}

#icon {
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.block p {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'montserrat', sans-serif;
    text-align: center;
    max-width: 300px;
    font-weight: 700;
    line-height: 1.5;

}

.details {
    padding: 50px 170px 50px 170px;
}

.divider {
    width: 125px;
    height: 2px;
    background-color: #4EF1AE;
    margin: 30px 0px 30px 0px;
}

.services-title {
    background: linear-gradient(to bottom, #4EF1AE 0%, #395270 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.split-wrap {
    display: flex;
    width: 98%;
    height: 86vh;
    overflow: hidden;
    justify-content: center;
    padding-bottom: 50px;
    gap: 10px;
    margin: auto;
}

.panel {
    position: relative;
    flex: 1;
    overflow: hidden;
    transition: flex 0.6s ease;
}

.panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.overlay-ser {
    position: absolute;
    inset: 0;
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.4s ease transform 0.6s ease;
}

div .out-img {
    position: absolute;
    padding: 0px 40px 0px 0px;
    left: 30px;
    bottom: 30px;
    z-index: 2;
    width: 680px;
    
}
h3.ser-head {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    line-height: 1.4;
    padding-left: 10px;
}
h3.ser-head-in {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.4;
    padding-left: 0px;
    padding-top: 40px;
    opacity: 1;
    top: 0;
}

div.line {
    width: 97%;
    height: 8px;
    background: #2cff9b;
    padding-left: 10px;
    transition: width 0.6s ease;
    border-radius: 10px;
    opacity: 1;
    
}
.line-in {
    position: absolute;
    inset: 1;
    width: 60%;
    height: 8px;
    background: blue;
    padding-left: 30px;
    transition: width 0.6s ease;
    border-radius: 10px;
}
.text-box {
    color: #ffffff;
    font-size: 14px;
    transition: transform 0.6s ease;
    max-width: 700px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}
.text-box h3{
  font-size:20px;
  letter-spacing:1px;
}
.text-box p{
  line-height:1.5;
  font-size:18px;
}

.text-box ul{
  margin-top:10px;
  padding-left:0px;
  list-style: none;
}

.text-box li{
  margin-bottom:8px;
  font-size:18px;
  line-height: 2;
}
.text-box i{
  margin-right:20px;
}

.split-wrap:hover .panel {
    flex: 0.9;
}

.panel.left:hover {
    flex: 1.1;

}

.panel.left:hover img {
    margin: 0;
    transform: scale(1) translateX(40px);

}

.panel.left:hover .overlay-ser {
    transform: translateX(40px);
    background: rgba(0, 0, 0, 0.573);
    transition: 0.6s;
    opacity: 1; 
}

.panel.left:hover .text-box {
    transform: translateX(0px);
    transform: translateY(20px);
    transition: 0.6s;
}
.panel.left:hover .ser-head {
    opacity: 0;
    transition: 0.5s;
    
}
.panel.left:hover .line {
    width: 97%;
    margin: 0px 0px 0px 10px;
    transition: 0.5s;
    opacity: 0;
}

.panel.right:hover {
    flex: 1.1;
}

.panel.right:hover img {
    margin: 0;
    transform: scale(1) translateX(-40px);
    
}

.panel.right:hover .overlay-ser {
    transform: translateX(-40px);
    background: rgba(0, 0, 0, 0.573);
    transition: 0.6s;
    opacity: 1;
    
}
.panel.right:hover .text-box {
    transform: translateX(0px);
    transform: translateY(20px);
    transition: 0.6s;
    padding-left: 40px;
}
.panel.right:hover .ser-head {
    opacity: 0;
    transition: 0.5s;
    
}
.panel.right:hover .line {
    width: 97%;
    margin: 15px 0px 0px 10px;
    transition: 0.6s;
    opacity: 0;
}


.projects {
    background-color: #111f30;
}

.project-header {
    background: linear-gradient(to bottom, #4EF1AE 0%, #395270 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px 0px 50px 0px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.project-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    padding: 0px 100px 50px 180px;
}

.project-cont img {
    width: 90%;
    height: 300px;
    border-radius: 30px;
}

.contact {
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact-header {
    background: linear-gradient(to bottom, #4EF1AE 0%, #395270 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px 0px 20px 0px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 150px 15px 150px;
}

.image-container img {
    width: 100%;
    height: 650px;
    display: block;
    border-radius: 20px;

}

.overlay-contact {
    position: absolute;
    top: 50%;
    left: 45%;
    padding: 100px 0px 100px 0px;
    transform: translate(-50%, -50%);
    flex-direction: column;
    text-align: left;
}


.overlay-contact input,
.overlay-contact textarea,
.overlay-contact select {
    width: 300px;
    padding: 15px 20px 15px 20px;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: #ffffff;
    border-bottom: 2px solid #7c837e;
}

.overlay-contact select {
    color: #7c837e;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-bottom: 2px solid #4EF1AE;
}

.overlay-contact button.attach {
    padding: 8px;
    border: none;
    background-color: #dadcde;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-right: 10px;
}

.overlay-contact button.submit {
    padding: 20px 40px 20px 40px;
    background-color: #4EF1AE;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.overlay-contact button.submit:hover {

    background-color: #ffffff;
    color: #4EF1AE;
    transition: 0.5s;
}


section.social {
    width: 100%;
    height: auto;
    background-color: #112439;
    padding: 10px 0px 0px 0px;
}

.social-div {
    position: relative;
    width: 100%;
}

.social-div img {
    max-width: 100%;
    padding: 40px 0px 0px 1080px;
}

.social-info img {
    width: 200px;
    height: auto;
    max-width: 100%;
    padding: 0px 40px 10px 40px;
    cursor: pointer;
}

.social-info {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 0px 50px 200px;
    text-align: left;
    max-width: 90%;
}

.social-info p {
    color: #ffffff80;
    max-width: 400px;
}

.about-para {
    text-align: center;
    width: 220px;
    line-height: 1.2;
    padding-left: 20px;
}

.quick-links a {
    line-height: 2.5;
    color: #ffffff80;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0px;
    text-transform: none;
}

.quick-links a:hover {
    color: #4EF1AE;
    transition: 0.5s;
}

.projects-link a {
    line-height: 1.5;
    color: #ffffff80;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0px;
    text-transform: none;
}

.projects-link a:hover {
    color: #4EF1AE;
    transition: 0.5s;
}

.projects-link button {
    color: #ffffff;
    background-color: #4EF1AE;
    font-size: 14px;
    padding: 8px 40px 8px 40px;
    border-radius: 20px;
    border: none;
}

.projects-link button:hover {
    color: #000000;
    background-color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}

.header4 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
}

h3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff80;
    text-align: left;
    line-height: 3;
}

p.address {
    padding: 0px 0px 0px 24px;
    display: inline-flex;
    line-height: 1.6;
    width: 250px;
}

.git {
    color: #ffffff80;
    text-transform: lowercase;
}


.flag {
    width: 100%;
    padding: 50px 0px 30px 0px;
    background-color: #112439;
}

.flag-img p {
    max-width: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    line-height: 1.6;
}

footer {
    background-color: #3bb288;
    padding: 5px 0px 50px 0px;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    font-size: 15px;
    padding: 0px 20px 0px 200px;
}