* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 3px 50px 3px 180px;
    position: fixed;
    width: 100%;
    z-index: 100;
    border: 1px solid #e0e0e0;
}

.logo {
    height: 95px;
    width: auto;
    padding: 10px 50px 10px 20px;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

img {
    max-width: 100%;
    height: auto;
}

div.navbar {
    padding-left: 250px;
    padding-right: 50px;
    font: 14px 'Montserrat', sans-serif;
    font-weight: 600;
}

a {
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:hover {
    transition: 0.5s;
    color: #4EF1AE;
}

.btn {
    padding: 12px 8px 12px 8px;
    background-color: #4EF1AE;
    color: #000000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.btn:hover {
    background-color: #ffffff;
    color: #4EF1AE;
    transition: 0.5s;
}

.slider-video {
    position: absolute;
    width: 100%;
    height: 775px;
    object-fit: cover;
}

section {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

h2 {
    background: linear-gradient(to bottom, #4EF1AE 0%, #395270 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 25px 0px 20px 0px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.client-logos {
    padding: 80px 0px 40px 0px;
    display:flex;
    justify-content: center;
    position: relative;
    animation: moveleft 10s linear infinite;
    gap: 20%;
    
}

@keyframes moveleft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
   